################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net9.0-android
/bin
/obj
